body {
  background-color: #e9ebf0;
}
/* .dog-photo {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.dog-photo > img {
  float: left;
  border: 2px solid black;
  max-width: 45%;
  margin: 2%;
} */
